{%extends 'base.html'%}

{% block title %}
    Loginwindow
{% endblock %}

{%block body %}
<div class="container">
    <div class="row">
        <div class="col" text-center>
            <form action="{{ url_for('createEstate') }}" method="POST">
                
                <div class="form-floating">
                    <input class="form-control" id="floatingInput" name="size" >
                    <label for="floatingInput">Size </label>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="floatingInput" name="adress">
                    <label for="floatingInput">adress</label>
                </div>

                <div class="form-floating">
                    <input class="form-control" id="floatingInput" name="es_type" >
                    <label for="floatingInput">estate type</label>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit" >Create escate</button>
            </form>
        </div>
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}